absl-py==0.9.0
alembic==1.4.0
altgraph==0.17
anaconda-client==1.7.2
anaconda-navigator==1.9.7
apache-beam==2.18.0
appdirs==1.4.3
appnope==0.1.0
argon2-cffi==18.1.0
arrow==0.15.5
asgiref==3.2.3
asn1crypto==1.3.0
astor==0.8.1
attrs==19.3.0
audioread==2.1.8
avro-python3==1.9.1
Babel==2.8.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.2
bleach==3.1.0
blinker==1.4
bottle==0.12.18
bottle-websocket==0.2.9
buildozer==1.0.1.dev0
bz2file==0.98
cachetools==3.1.1
Cartopy==0.17.0
cefpython3==66.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
clyent==1.2.2
colored==1.4.2
conda==4.8.3
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
crcmod==1.7
cryptography==2.8
cvxopt==1.2.3
cycler==0.10.0
Cython==0.29.10
data==0.4
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.1.1
distlib==0.3.0
Django==2.0.6
django-admin-honeypot==1.1.0
django-model-utils==3.1.2
django-notifications-hq==1.5.0
django-vote==2.1.7
dlx==1.0.4
dm-sonnet==1.35
docopt==0.6.2
docplex==2.13.184
docutils==0.16
docx2python==1.23
dominate==2.4.0
dopamine-rl==3.0.1
Eel==0.12.2
elasticsearch==7.5.1
entrypoints==0.3
fastavro==0.21.24
fastdtw==0.3.4
fasteners==0.15
filelock==3.0.12
Flask==1.1.1
Flask-Babel==1.0.0
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-Moment==0.9.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
funcsigs==1.0.2
future==0.18.2
gast==0.2.2
gevent==1.4.0
gevent-websocket==0.10.1
gin-config==0.3.0
glob2==0.7
google-api-core==1.16.0
google-api-python-client==1.7.11
google-apitools==0.5.28
google-auth==1.11.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-bigquery==1.17.1
google-cloud-bigtable==1.0.0
google-cloud-core==1.3.0
google-cloud-datastore==1.7.4
google-cloud-pubsub==1.0.2
google-pasta==0.1.8
google-resumable-media==0.4.1
googleapis-common-protos==1.51.0
greenlet==0.4.15
grpc-google-iam-v1==0.12.3
grpcio==1.26.0
guess-language-spirit==0.5.3
gunicorn==20.0.4
gym==0.15.4
h5py==2.10.0
hdfs==2.5.8
html5lib==1.0.1
httplib2==0.12.0
idna==2.9
importlib-metadata==1.5.0
inflection==0.3.1
intervaltree==3.0.2
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
joblib==0.15.1
json5==0.9.3
jsonfield==2.0.2
jsonschema==3.2.0
jupyter-client==6.1.2
jupyter-core==4.6.3
jupyterlab==1.2.6
jupyterlab-server==1.1.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kfac==0.2.0
Kivy==1.11.1
Kivy-Garden==0.1.4
kiwisolver==1.1.0
latex==0.7.0
libarchive-c==2.8
librosa==0.7.2
lief==0.9.0
lxml==4.5.0
macholib==1.14
magenta==1.2.2
Mako==1.1.1
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==3.5.1
marshmallow-polyfield==5.9
matplotlib==3.1.3
memethesis==2.1.0
mesh-tensorflow==0.1.9
mido==1.2.6
mir-eval==0.5
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mlfromscratch==0.0.4
mock==2.0.0
monotonic==1.5
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.4
nest-asyncio==1.3.0
nltk==3.2.4
notebook==6.0.3
ntlm-auth==1.4.0
numpy==1.18.1
oauth2client==3.0.0
oauthlib==3.1.0
olefile==0.46
opencv-python==4.2.0.32
opt-einsum==3.1.0
OWSLib==0.19.2
pandas==1.0.3
pandas-datareader==0.8.1
pandocfilters==1.4.2
parso==0.6.2
pbr==5.4.4
pdflatex==0.1.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pipenv==2018.11.26
pkginfo==1.5.0.1
pluggy==0.13.1
preprocessing==0.1.13
pretty-midi==0.2.8
progressbar33==2.4
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.4
protobuf==3.11.2
psutil==5.7.0
psycopg2==2.8.4
psycopg2-binary==2.8.4
ptyprocess==0.6.0
py2exe==0.9.2.2
pyarrow==0.15.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pybind11==2.4.3
PyBluez==0.23
pycosat==0.6.3
pycparser==2.20
pydot==1.4.1
pyepsg==0.4.0
pygame==1.9.6
pyglet==1.3.2
Pygments==2.6.1
pygtrie==2.3.2
PyInquirer==1.0.3
PyInstaller==4.0.dev0+g86906259
PyJWT==1.7.1
pykdtree==1.3.1
pymongo==3.10.1
pynput==1.6.8
pyobjc-core==6.2
pyobjc-framework-Cocoa==6.2
pyobjc-framework-Quartz==6.2
pyOpenSSL==19.1.0
pyparsing==2.4.6
pypng==0.0.20
pyproj==2.3.1
pyrsistent==0.16.0
pyscf==1.7.1.post1
pyshp==2.1.0
PySocks==1.7.1
pyte==0.8.0
python-dateutil==2.8.1
python-decouple==3.1
python-docx==0.8.10
python-dotenv==0.11.0
python-editor==1.0.4
python-rtmidi==1.1.2
pytz==2018.4
PyYAML==5.3.1
pyzmq==18.1.1
qiskit==0.16.2
qiskit-aer==0.4.1
qiskit-aqua==0.6.5
qiskit-ibmq-provider==0.5.0
qiskit-ignis==0.2.0
qiskit-terra==0.12.0
QtPy==1.9.0
Quandl==3.5.0
regex==2020.1.8
requests==2.23.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.0
ruamel-yaml==0.15.87
scikit-learn==0.23.1
scipy==1.4.1
selenium==3.141.0
semantic-version==2.8.4
Send2Trash==1.5.0
sh==1.12.14
Shapely==1.6.4.post2
shutilwhich==1.1.0
six==1.14.0
sk-video==1.1.10
sklearn==0.0
SoundFile==0.10.3.post1
soupsieve==2.0
sox==1.3.7
sphinx-rtd-theme==0.2.4
SQLAlchemy==1.3.16
sqlparse==0.3.0
synthesizer==0.1.5
tempdir==0.7.1
tensor2tensor==1.15.4
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-datasets==2.0.0
tensorflow-estimator==2.1.0
tensorflow-gan==2.0.0
tensorflow-hub==0.7.0
tensorflow-metadata==0.21.1
tensorflow-probability==0.7.0
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
threadpoolctl==2.0.0
torch==1.4.0
torchvision==0.5.0
tornado==6.0.4
tqdm==4.44.1
traitlets==4.3.3
ujson==1.35
uritemplate==3.0.1
urllib3==1.25.8
virtualenv==20.0.4
virtualenv-clone==0.5.3
visitor==0.1.3
wcwidth==0.1.9
webencodings==0.5.1
websockets==7.0
Werkzeug==0.16.1
wget==3.2
whichcraft==0.6.1
whitenoise==3.3.1
widgetsnbextension==3.5.1
wrapt==1.12.1
WTForms==2.2.1
yarg==0.1.9
youtube-dl==2020.1.24
zipp==2.2.0
